{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/calendar.php,listtable.js"}
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<div>
    <style>
        .ord_state_query{
            border-collapse:collapse;
        }
        .ord_state_query td{
            padding-left:20px;
            padding-right:20px;
            padding-top:5px;
            padding-bottom:5px;
        }
    </style>
    <table class="ord_state_query" border="1"   >
        <tr>
            <td><a href="javascript:searchDaiFuUser('daifu_status','未审核代付');">未审核代付({$no_checked_count})</a></td>
            <td><a href="javascript:searchDaiFuUser('daifu_status','已审核代付');">已审核代付</a></td>
            <td><a href="javascript:searchDaiFuUser('daifu_status','未通过审核');">未通过审核</a></td>
            <td><a href="javascript:searchDaiFuUser('daifu_status','已完成');">已完成</a></td>
            <td><a href="javascript:searchDaiFuUser('daifu_status','已撤销');">已撤销</a></td>
        </tr>
    </table>
</div>
<script>
    function searchDaiFuUser(key, value){
        listTable.filter = new Object;
        listTable.filter['page'] = 1;
        listTable.filter[key] = value;
        listTable.loadList();
    }
</script>
{/if}
<!--供应商订单列表-->
<form method="post" action="javascript:exportTable()" name="listForm" >
    <!-- start parter list -->
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>
                    <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"  />序号
                </th>
                <th>申请用户姓名</th>
                <th>申请用户电话</th>
                <th>审核员工姓名（服务人员）</th>
                <th>代付合计金额</th>
                <th>申请时间</th>
                <th>操作</th>
            <tr>
                {foreach from=$list item=obj key=okey}
            <tr>
                <td><input type="checkbox" name="checkboxes[]"  value="{$obj.id}"/>{$obj.pay_id}</td>
                <td><span>{$obj.user_name}</span></td>
                <td><span>{$obj.user_phone}</span></td>
                <td><a onmouseout="hide_emp_phone()" onmouseover="show_emp_phone(event,'{$obj.check_emp_phone}');">{$obj.check_emp_name}</a></td>
                <td><span>{$obj.pay_total}</span></td>
                <td><span>{$obj.apply_for_date}</span></td>
                <td align="center">
                    <a href="javascript:confirm_delivery('{$obj.pay_id}');" id="a_{$obj.pay_id}" onclick="locate_delivery_div(event);">代付</a>
                    {if $obj.pay_status eq '已撤销'}
                    <a href="javascript:confirm_delivery('{$obj.pay_id}');" id="a_{$obj.pay_id}" onclick="locate_delivery_div(event);">恢复审核</a>
                    {else}
                    <a href="javascript:confirm_delivery('{$obj.pay_id}');" id="a_{$obj.pay_id}" onclick="locate_delivery_div(event);">撤销审核</a>
                    {/if}
                </td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
            {/foreach}
        </table>
        <!-- end parter list -->
        <!-- 分页 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>
        <script>
            function exportTable(){
                alert("导出列表数据，未实现");
            }
            listTable.query = 'query_enterprise_help_pay';
            listTable.recordCount = {$record_count};
            listTable.pageCount = {$page_count};
            {foreach from=$filter item=item key=key}
            listTable.filter.{$key} = '{$item}';
            {/foreach}
        </script>
    </div>
</form>

{if $full_page}

<style>
    .tipDiv{
        z-index:999;
        position:absolute;
        display:none;
        background-color: #f3f3f3;
        padding:10px;
        border:1px solid;
    }
</style>
<div id="emp_phone_div" class="tipDiv">
</div>
<script>
    function show_emp_phone(event,phone){
        var div =Utils.$('emp_phone_div');
        div.innerHTML = '联系方式：'+phone;
        div.style.display = 'block';
        div.style.left = event.x+20+"px";
        div.style.top = event.y+"px";
    }
    function hide_emp_phone(){
        Utils.hideEle('emp_phone_div');
    }
</script>

<div id="delivery_div" style="width:270px;height: 140px;border:solid 1px;padding:10px;z-index:999;position:absolute;display:none;background-color: #f3f3f3">
    <table align="center" cellpadding="10">
        <tr>
            <td>物流名称</td>
            <td>
                <select id="ship_sel">
                    <option value="">请选择</option>
                    {html_options options=$ship_list }
                </select>
            </td>
        </tr>
        <tr>
            <td>物流订单号</td>
            <td><input id="invoice_no"/></td>
        </tr>
        <tr>
            <td><input type="button" value="提交" id="confirm_input" data="" onclick="submit_delivery(event)"/></td>
            <td><input type="button" value="取消" onclick="hide_delivery_div()"/></td>
        </tr>
    </table>
</div>
<script>
    var delivery_div = document.getElementById('delivery_div');

    /*确认发货*/
    function confirm_delivery(order_id){
        document.getElementById('confirm_input').setAttribute('data', order_id);
    }
    function locate_delivery_div(event){
        delivery_div.style.display = 'block';
        var left = event.clientX - delivery_div.clientWidth - 20;
        var top = event.clientY;
        delivery_div.style.left =left+'px';
        delivery_div.style.top =top+'px';
    }
    function submit_delivery(event){
        var input = document.getElementById('invoice_no');
        var sel = document.getElementById('ship_sel');
        var ship_id = sel.options[sel.selectedIndex].value;
        var ship_name = sel.options[sel.selectedIndex].text;
        var invoice_no = input.value;
        var order_id = event.target.getAttribute('data');
        // ajax
        var callback =function(result){
            if(result.error > 0){

            }else{
                hide_delivery_div();
                document.getElementById('a_'+order_id).parentNode.innerHTML = '已发货';
            }
        }
        Ajax.call('supplierAdmin.php?act=delivery_confirm', 'orderId='+order_id+'&shipId='+ship_id+'&shipName='+ship_name+'&invoiceNo='+invoice_no, callback, 'POST', 'JSON');
    }
    function hide_delivery_div(){
        delivery_div.style.display= 'none';
    }

    /**
     * 显示订单商品及缩图
     */
    var show_goods_layer = 'order_goods_layer';
    var goods_hash_table = new Object;
    var timer = new Object;

    /**
     * 绑定订单号事件
     *
     * @return void
     */
    function bind_order_event()
    {
        var order_seq = 0;
        while(true)
        {
            var order_sn = Utils.$('order_'+order_seq);
            if (order_sn)
            {
                order_sn.onmouseover = function(e)
                {
                    try
                    {
                        window.clearTimeout(timer);
                    }
                    catch(e)
                    {
                    }
                    var order_id = this.getAttribute('order-id');
                    show_order_goods(e, order_id, show_goods_layer);
                }
                order_sn.onmouseout = function(e)
                {
                    hide_order_goods(show_goods_layer)
                }
                order_seq++;
            }
            else
            {
                break;
            }
        }
    }
    listTable.listCallback = function(result, txt)
    {
        if (result.error > 0)
        {
            alert(result.message);
        }
        else
        {
            try
            {
                document.getElementById('listDiv').innerHTML = result.content;
                bind_order_event();
                if (typeof result.filter == "object")
                {
                    listTable.filter = result.filter;
                }
                listTable.pageCount = result.page_count;
            }
            catch(e)
            {
                alert(e.message);
            }
        }
    }
    /**
     * 浏览器兼容式绑定Onload事件
     *
     */
    if (Browser.isIE)
    {
        window.attachEvent("onload", bind_order_event);
    }
    else
    {
        window.addEventListener("load", bind_order_event, false);
    }

    /**
     * 建立订单商品显示层
     *
     * @return void
     */
    function create_goods_layer(id)
    {
        if (!Utils.$(id))
        {
            var n_div = document.createElement('DIV');
            n_div.id = id;
            n_div.className = 'order-goods';
            document.body.appendChild(n_div);
            Utils.$(id).onmouseover = function()
            {
                window.clearTimeout(window.timer);
            }
            Utils.$(id).onmouseout = function()
            {
                hide_order_goods(id);
            }
        }
        else
        {
            Utils.$(id).style.display = '';
        }
    }

    /**
     * 显示订单商品数据
     *
     * @return void
     */
    function show_order_goods(e, order_id, layer_id)
    {
        create_goods_layer(layer_id);
        $layer_id = Utils.$(layer_id);
        $layer_id.style.top = (Utils.y(e) + 12) + 'px';
        $layer_id.style.left = (Utils.x(e) + 12) + 'px';
        if (typeof(goods_hash_table[order_id]) == 'object')
        {
            response_goods_info(goods_hash_table[order_id]);
        }
        else
        {
            $layer_id.innerHTML = '加载中...';
            Ajax.call('order.php?is_ajax=1&act=get_goods_info&order_id='+order_id, '', response_goods_info , 'POST', 'JSON');
        }
    }

    /**
     * 隐藏订单商品
     *
     * @return void
     */
    function hide_order_goods(layer_id)
    {
        $layer_id = Utils.$(layer_id);
        window.timer = window.setTimeout('$layer_id.style.display = "none"', 500);
    }

    /**
     * 处理订单商品的Callback
     *
     * @return void
     */
    function response_goods_info(result)
    {
        if (result.error > 0)
        {
            alert(result.message);
            hide_order_goods(show_goods_layer);
            return;
        }
        if (typeof(goods_hash_table[result.content[0].order_id]) == 'undefined')
        {
            goods_hash_table[result.content[0].order_id] = result;
        }
        Utils.$(show_goods_layer).innerHTML = result.content[0].str;
    }
</script>
{include file="pagefooter.htm"}
{/if}
