<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/calendar.php,listtable.js"}
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<div class="form-div">
  <form action="javascript:searchParters()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <span>产品：</span><input name="goods_name" />
    <span>服务员工名称：</span><input name="parter_emp_name" />
    <span>性别：</span>
    <select name="sex">
      <option value="">请选择</option>
      <option value="1">男</option>
      <option value="2">女</option>
    </select>
    <span>分配情况：</span>
    <select name="is_assign">
      <option value="">请选择</option>
      <option value="已分配">已分配</option>
      <option value="未分配">未分配</option>
    </select>
    <span>消费金额</span>
    <input name="start_amount">
    -
    <input name="end_amount">
    <span>消费时间</span>
    <input type="text" name="start_time" maxlength="60" size="20" readonly="readonly" id="start_time_id" />
    <input name="start_time_btn" type="button" id="start_time_btn" onclick="return showCalendar('start_time_id', '%Y-%m-%d %H:%M', '24', false, 'start_time_btn');" value="{$lang.btn_select}" class="button"/>
    -
    <input type="text" name="end_time" maxlength="60" size="20" readonly="readonly" id="end_time_id" />
    <input name="end_time_btn" type="button" id="end_time_btn" onclick="return showCalendar('end_time_id', '%Y-%m-%d %H:%M', '24', false, 'end_time_btn');" value="{$lang.btn_select}" class="button"/>
    <input type="submit" value="搜索" class="button" />
  </form>
</div>
<script language="JavaScript">
  listTable.query = 'query_consume_list';

  function searchParters()
  {
    listTable.filter['goods_name'] = Utils.trim(document.forms['searchForm'].elements['goods_name'].value);
    listTable.filter['parter_emp_name'] = (document.forms['searchForm'].elements['parter_emp_name'].value);
    listTable.filter['sex'] = (document.forms['searchForm'].elements['sex'].value);
    listTable.filter['is_assign'] = (document.forms['searchForm'].elements['is_assign'].value);
    listTable.filter['start_amount'] = (document.forms['searchForm'].elements['start_amount'].value);
    listTable.filter['end_amount'] = (document.forms['searchForm'].elements['end_amount'].value);
    listTable.filter['start_time'] = (document.forms['searchForm'].elements['start_time'].value);
    listTable.filter['end_time'] = (document.forms['searchForm'].elements['end_time'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
</script>
<style>
  ul
  {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul li
  {
  }

  #displayItemComponent{
    position:absolute;
    background-color: #f7f7f7;
    margin-left:8px;
    padding:0 20px 10px 20px;
    display:none;
  }

</style>
<div  id="displayItemComponent">
  <ul >
    <li><input type="checkbox"/>字段 </li>
  </ul>
  <hr width="100%">
  <input type="button" value="确定" onclick="initDisplayItem()"/>
  <input type="button" value="取消" onclick="hideFieldList()"/>
</div>
<script>
  var div =  document.getElementById('displayItemComponent');

  function showFieldList(){
    alert('未实现');
    return;
    div.style.display = 'block';
  }

  function hideFieldList(){
    div.style.display = 'none';
  }

  function initDisplayItem() {
    hideFieldList();
  }
</script>
{/if}

<form method="post" action="javascript:exportTable()" name="listForm" >
  <!-- start parter list -->
  <div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
      <tr>
        <th>
          <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"  />序号
        </th>
        <th>订单号</a></th>
        <th>用户姓名</a></th>
        <th>电话</a></th>
        <th>服务员工</a></th>
        <th>消费金额</th>
        <th>支付方式</th>
        <th>订单生成时间</th>
        <th>分成状态</th>
      <tr>
        {foreach from=$list item=obj}
      <tr>
        <td><input type="checkbox" name="checkboxes[]"  />{$obj.order_id}</td>
        <td><span>{$obj.order_sn}</span></td>
        <td><span>{$obj.name}</span></td>
        <td><span>{$obj.mobile_phone}</span></td>
        <td><span>{$obj.parter_emp_name}</span></td>
        <td><span>{$obj.goods_amount}</span></td>
        <td><span>{$obj.rbc_pay_way}</span></td>
        <td><span>{$obj.add_time}</span></td>
        <td><span>{$obj.seperate_status}</span></td>
      </tr>
      {foreachelse}
      <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
      {/foreach}
    </table>
    <!-- end parter list -->

    <!-- 分页 -->
    <table id="page-table" cellspacing="0">
      <tr>
        <td align="right" nowrap="true">
          {include file="page.htm"}
        </td>
      </tr>
    </table>

    <input type="submit" value="选择导出" id="btnSubmit" name="btnSubmit" class="button" />
  </div>
</form>

<script type="text/javascript">
  function exportTable(){
    alert("导出列表数据，未实现");
  }

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}


</script>
<script src="js/area.js"></script>
<script src="js/birth.js"></script>
{if $full_page}
{include file="pagefooter.htm"}
{/if}
