<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 合作商员工搜索 -->
<div class="form-div">
  <form action="javascript:searchParters()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <span>查询：</span><input name="keyword" placeholder="员工编号/登录名/姓名/手机号"/>
    <!-- 状态 -->
    <span>状态：</span>
    <select name="check_state">
      <option value="">请选择</option>
      <option value="试用">试用</option>
      <option value="正式">正式</option>
      <option value="离职">离职</option>
    </select>
    <span>性别：</span>
    <select name="check_state">
      <option value="">请选择</option>
      <option value="男">男</option>
      <option value="女">女</option>
    </select>
    <input name="check_man_keyword" placeholder="审核人编号/姓名"/>
    <span>分成比例：</span>
    <input name="parter_share_percent"/>%
    <span>可用状态：</span>
    <select name="valid_state">
      <option value="0">请选择</option>
      <option value="可用">可用</option>
      <option value="停用">停用</option>
    </select>

    <input type="submit" value="搜索" class="button" />
  </form>
</div>
<script language="JavaScript">
  function searchParters()
  {
    listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    var addr = "";
    for(var i = 0 ; i < document.forms['searchForm'].elements['partnersAddress[]'].length; i++){
      var val = document.forms['searchForm'].elements['partnersAddress[]'][i].value;
      if(val ){
        addr += val+'#';
      }
    }
    if(addr != ""){
      addr = addr.substr(0, addr.length-1);
    }
    listTable.filter['partnersAddress'] =addr;
    listTable.filter['check_state'] = (document.forms['searchForm'].elements['check_state'].value);
    listTable.filter['check_man_keyword'] = Utils.trim(document.forms['searchForm'].elements['check_man_keyword'].value);
    listTable.filter['parter_share_percent'] = Utils.trim(document.forms['searchForm'].elements['parter_share_percent'].value);
    listTable.filter['valid_state'] = (document.forms['searchForm'].elements['valid_state'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
</script>

<style>
  ul
  {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul li
  {
  }

  #displayItemComponent{
    position:absolute;
    background-color: #f7f7f7;
    margin-left:8px;
    padding:0 20px 10px 20px;
    display:none;
  }

</style>
<div  id="displayItemComponent">
<ul >
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
</ul>
  <hr width="100%">
  <input type="button" value="确定" onclick="initDisplayItem()"/>
  <input type="button" value="取消" onclick="hideFieldList()"/>
</div>
<script>
  var div =  document.getElementById('displayItemComponent');

  function showFieldList(){
    alert('未实现');
    return;
    div.style.display = 'block';
  }

  function hideFieldList(){
    div.style.display = 'none';
  }

  function initDisplayItem() {
    hideFieldList();
  }
</script>
{/if}

<!-- 合作商列表 -->
<form method="post" action="javascript:exportTable()" name="listForm" >
  <!-- start parter list -->
  <div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"  />序号
    </th>
    <th>合作商编号</a></th>
    <th>合作商全称</a></th>
    <th>分成比例</a></th>
    <th>负责人姓名</a></th>
    <th>负责人手机</a></th>
    <th>负责人座机</a></th>
    <th>审核状态</a></th>
    <th>可用状态</a></th>
    <th>操作</th>
  <tr>
  {foreach from=$parters_list item=parters}
  <tr>
    <td><input type="checkbox" name="checkboxes[]"  value="{$parters.id}"/>{$parters.id}</td>
    <td><span>{$parters.parter_code}</span></td>
    <td><span>{$parters.partnersName}</span></td>
    <td><span>{$parters.parter_share_percent}</span></td>
    <td><span>{$parters.leaderName}</span></td>
    <td><span>{$parters.leaderPhone}</span></td>
    <td><span>{$parters.leaderTel}</span></td>
    <td><span>{$parters.check_state}</span></td>
    <td><span>{$parters.valid_state}</span></td>
    <td align="center">
      <a href="parter.php?act=detail&id={$parters.id}">详细</a>
      <a href="parter.php?act=edit&id={$parters.id}" >修改</a>
      <a href="javascript:validParter({$parters.id})" >启用/停用</a>
      <!--<a href="#parter.php?act=point_shop&id={$parters.id}">查看积分商城</a>-->
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end parter list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

  <input type="submit" value="选择导出" id="btnSubmit" name="btnSubmit" class="button"  />
</div>
</form>

<script type="text/javascript">
  function exportTable(){
    alert("导出列表数据，未实现");
  }

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  function validParter(id){
    function callback(result){
      console.log(result)
      listTable.loadList();
    }
   Ajax.call('parter.php?act=valid', "id="+id, callback, "POST", "JSON");
  }
</script>
{if $full_page}
{include file="pagefooter.htm"}
{/if}
