<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 合作商员工搜索 -->
<div class="form-div">
  <form action="javascript:searchParters()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <span>用户：</span><input name="kfilteruser_name-mobile_phone-name" placeholder="用户名/登录名/手机号"/>
    <span>所在地：</span>
    <div id="areaComponent" style="display: inline" data="kfilteraddress" gen-input="true"></div>
    <span>员工：</span><input name="kfilterparter_emp_name" placeholder="员工名称"/>
    <span>性别：</span>
    <select name="kfiltersex">
      <option value="">请选择</option>
      <option value="1">男</option>
      <option value="2">女</option>
    </select>
    <span>分配情况：</span>
    <select name="kfilteris_assign">
      <option value="">请选择</option>
      <option value="已分配">已分配</option>
      <option value="未分配">未分配</option>
    </select>
    <span>生日：</span>
    <div id="birthComponent" post-name="kfilterbirth" style="display: inline;"></div>
    <input type="submit" value="搜索" class="button" />
  </form>
</div>
<script language="JavaScript">
  listTable.query = 'query_user';

  function searchParters()
  {
    birthCom.init();
    areaCom.init();
    listTable.filter['kfilteruser_name-mobile_phone-name'] = Utils.trim(document.forms['searchForm'].elements['kfilteruser_name-mobile_phone-name'].value);
    listTable.filter['kfilteraddress'] = (document.forms['searchForm'].elements['kfilteraddress'].value);
    listTable.filter['kfilterparter_emp_name'] = (document.forms['searchForm'].elements['kfilterparter_emp_name'].value);
    listTable.filter['kfiltersex'] = (document.forms['searchForm'].elements['kfiltersex'].value);
    listTable.filter['kfilteris_assign'] = (document.forms['searchForm'].elements['kfilteris_assign'].value);
    listTable.filter['kfilterbirth'] = (document.forms['searchForm'].elements['kfilterbirth'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
</script>

<style>
  ul
  {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul li
  {
  }

  #displayItemComponent{
    position:absolute;
    background-color: #f7f7f7;
    margin-left:8px;
    padding:0 20px 10px 20px;
    display:none;
  }

</style>
<div  id="displayItemComponent">
  <ul >
    <li><input type="checkbox"/>字段 </li>
  </ul>
  <hr width="100%">
  <input type="button" value="确定" onclick="initDisplayItem()"/>
  <input type="button" value="取消" onclick="hideFieldList()"/>
</div>
<script>
  var div =  document.getElementById('displayItemComponent');

  function showFieldList(){
    alert('未实现');
    return;
    div.style.display = 'block';
  }

  function hideFieldList(){
    div.style.display = 'none';
  }

  function initDisplayItem() {
    hideFieldList();
  }
</script>
{/if}

<!-- 合作商列表 -->
<form method="post" action="javascript:exportTable()" name="listForm" >
  <!-- start parter list -->
  <div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
      <tr>
        <th>
          <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"  />序号
        </th>
        <th>用户名称</a></th>
        <th>联系电话</a></th>
        <th>服务员工</a></th>
        <th>VIP积分</a></th>
        <th>操作</th>
      <tr>
        {foreach from=$list item=obj}
      <tr>
        <td><input type="checkbox" name="checkboxes[]"  value="{$obj.id}"/>{$obj.user_id}</td>
        <td><span>{$obj.name}</span></td>
        <td><span>{$obj.mobile_phone}</span></td>
        <td><span>{$obj.parter_emp_name}</span></td>
        <td><span>{$obj.vip}</span></td>
        <td align="center">
          <a href="javascript:void();" >详细</a>
          <!--<a href="parterAdmin.php?act=rbc_parter_user_detail&id={$obj.user_id}" >详细</a>-->
          <a href="javascript:showEmpAssign({$obj.user_id});" >{if $obj.is_assign eq '已分配'}重新分配{else}分配{/if}</a>
          <!--<a href="parterAdmin.php?act=edit_parter_emp&id={$obj.user_id}" >{if $obj.is_assign eq '已分配'}重新分配{else}分配{/if}</a>-->
          <a href="javascript:showScoreAssign({$obj.user_id},'{$obj.name}','{$obj.mobile_phone}')" >积分管理</a>
          <!--<a href="#parter.php?act=point_shop&id={$obj.id}">查看积分商城</a>-->
        </td>
      </tr>
      {foreachelse}
      <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
      {/foreach}
    </table>
    <!-- end parter list -->

    <!-- 分页 -->
    <table id="page-table" cellspacing="0">
      <tr>
        <td align="right" nowrap="true">
          {include file="page.htm"}
        </td>
      </tr>
    </table>

    <input type="submit" value="选择导出" id="btnSubmit" name="btnSubmit" class="button"  />
  </div>
</form>


<script type="text/javascript">
  function exportTable(){
    alert("导出列表数据，未实现");
  }

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

</script>
<script src="js/area.js"></script>
<script src="js/birth.js"></script>
{if $full_page}

<div style="position:absolute;z-index: 999; border:1px solid; padding: 20px; width: 240px; height: 100px; display: none;background: #f3f3f3;" id="score_assign_div">
  <table>
    <tr>
      <td>姓名</td>
      <td id="name_td"></td>
    </tr>
    <tr>
      <td>联系电话</td>
      <td id="tel_td"></td>
    </tr>
    <tr>
      <td>积分操作</td>
      <td><input id="scoreInput" /> <br>提示：增加填+1 减少填-1 </td>
    </tr>
    <tr>
      <td>
        <input type="button" class="button" value="修改" onclick="assignScore()"/>
      </td>
      <td>
        <input type="button" class="button" value="取消" onclick="hideScoreAssign()"/>
      </td>
    </tr>
  </table>
</div>
<script>
  var scoreDiv = Utils.$('score_assign_div');
  function showScoreAssign(userId,name, tel){
    scoreDiv.style.display ='block';
    scoreDiv.style.left = (scoreDiv.parentNode.clientWidth - scoreDiv.clientWidth)-40  + 'px';
    scoreDiv.style.top = (scoreDiv.parentNode.clientHeight - scoreDiv.clientHeight)  + 'px';
    scoreDiv.setAttribute('userId', userId);
    Utils.$('name_td').innerHTML = name;
    Utils.$('tel_td').innerHTML = tel;
    hideEmpAssign();
  }
  function hideScoreAssign(){
    scoreDiv.style.display = 'none';
  }

  function assignScore(){
    var val = Utils.$('scoreInput').value;
    var callback = function(result){
      if(result.error > 0){
        alter('失败');
        return;
      }
      listTable.loadList();
      hideScoreAssign();
    }
    Ajax.call('parterAdmin.php?act=change_score','userId='+scoreDiv.getAttribute('userId')+"&score="+val, callback, 'POST','JSON');
  }
</script>

<style>
  .emp_assign_table{
    border-collapse: collapse;
  }
</style>
<div style="position:absolute;z-index: 999;margin:auto; border:1px solid; padding: 20px; width: 50%; height: 50%;overflow:scroll; overflow-x:hidden; display: none;background: #f3f3f3;" id="emp_assign_div">
  <div>
    <input id="emp_search_input" placeholder="员工编号/登录名/姓名/手机号" style="width:180px" />
    <input type="button" class="button" onclick="searchEmp()" value="查询"/>
   <a style="float: right;cursor: pointer;" onclick="hideEmpAssign()"><img src="images/btn_close.gif" title="关闭"/> </a>
  </div>
  <br>
  <div>
    <table id="emp_assign_table" align="enter" cellpadding="4" border="1" class="emp_assign_table">
      <thead>
      <tr>
        <th>序号</th>
        <th>员工编号</th>
        <th>登录号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>手机号</th>
        <th>提成比例</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>
</div>
<script>
  var emp_assign_div = document.getElementById('emp_assign_div');
  function showEmpAssign(userId){
    emp_assign_div.style.display  = 'inline';
    emp_assign_div.style.left = (emp_assign_div.parentNode.clientWidth - emp_assign_div.clientWidth) / 2 + 'px';
    emp_assign_div.style.top = (emp_assign_div.parentNode.clientHeight - emp_assign_div.clientHeight) / 2 + 'px';
    emp_assign_div.setAttribute('userId', userId);
    hideScoreAssign();
  }
  function hideEmpAssign(){
    emp_assign_div.style.display  = 'none';
  }

  function assignEmp(empId){
    var userId = emp_assign_div.getAttribute('userId'); // once do just one thing keep simple principle
    Ajax.call('parterAdmin.php?act=assign_emp_to_user', 'userId='+userId+"&empId="+empId, function(result){
      if(result.error>0){
        return;
      }else{
        listTable.loadList();
        hideEmpAssign();
      }
    },'POST','JSON');
  }

  var emp_list_fields = ['id','staffID','loginID','staffName','sex','phone','commission'];
  var last_search_value = "";
  function searchEmp(){
    var keyword = Utils.trim(Utils.$('emp_search_input').value);
    var tbl = Utils.$('emp_assign_table');
    var tbody =  tbl.getElementsByTagName('tbody')[0];
    var setTbody = function (rows){
      for(var i =0 ; i< rows.length; i++){
        var tr = document.createElement('tr');
        for(var j=0; j < emp_list_fields.length; j++){
          var td = document.createElement('td');
          td.innerHTML = rows[i][emp_list_fields[j]];
          tr.appendChild(td);
        }
        var td = document.createElement('td');
        td.innerHTML = '<a href="javascript:assignEmp('+rows[i].id+');">选择</a>';
        tr.appendChild(td);
        tbody.appendChild(tr);
      }
    }
    var clearTbody = function (){
      for(var i = tbody.rows.length-1; i>=0 ;i--){
        tbody.rows[i].remove();
      }
    }
    var callback = function(result) {
      var json = JSON.parse(result);
      if (json.error > 0) {
        alert('查询数据失败');
        return;
      }
      var rows = json.content;
      clearTbody();
      setTbody(rows);
    }
    Ajax.call('parterAdmin.php?act=ajax_parter_emp_list', 'keyword='+keyword, callback, 'GET', 'POST');
  }
</script>
{include file="pagefooter.htm"}
{/if}
