{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js,selectzone.js"}
<script>
	region.isAdmin = true;
</script>
<div style="font-weight: bold;height: 30px;width:100%;background-color: #f3f8fe;">收货地址</div>
<div>
	<form enctype="multipart/form-data" method="post" id="theForm" >

	<table cellpadding="4">
		<tr>
			<td colspan="2"><span style="color:red">新增收货地址</span>&nbsp;&nbsp;电话号码、手机号选填一项，其余均为必填项</td>
		</tr>
		<tr>
			<td>所在地区<span style="color:red">*</span></td>
			<td>
				<select name="country" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')">
					 {foreach from=$country_list item=country}
					<option value="{$country.region_id}"  {if $consignee.country eq $country.region_id}selected{/if}>{$country.region_name}</option>
					 {/foreach}
				</select>
				<select name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
					<option value="0">请选择省</option>
					{foreach from=$shop_province_list item=province}
					<option value="{$province.region_id}" {if $consignee.province eq $province.region_id}selected{/if}>{$province.region_name}</option>
					{/foreach}
				</select>
				<select name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
					<option value="0">请选择市</option>
					{foreach from=$shop_city_list item=city}
					<option value="{$city.region_id}" {if $consignee.city eq $city.region_id}selected{/if}>{$city.region_name}</option>
					 {/foreach}
				</select>
				<select name="district" id="selDistricts">
				<option value="0">请选择区</option>
				 {foreach from=$shop_district_list item=district}
				<option value="{$district.region_id}" {if $consignee.district eq $district.region_id}selected{/if}>{$district.region_name}</option>
				 {/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<td>详细地址<span style="color:red">*</span></td>
			<td><textarea name="address"  style="width:260px;height:60px;" placeholder="建议您如实填写详细收获地址，例如街道名称，门牌号码，楼层和房间号等信息">{$consignee.address}</textarea></td>
		</tr>
		<tr>
			<td>邮政编码</td>
			<td><input name="zipcode" value="{$consignee.zipcode}" style="width: 200px;" placeholder="如您不清楚邮政区号，请填写000000"/></td>
		</tr>
		<tr>
			<td>收货人姓名<span style="color:red">*</span></td>
			<td><input name="consignee" value="{$consignee.consignee}" placeholder="长度不超过25个字符"></input></td>
		</tr>
		<tr>
			<td>手机号码</td>
			<td><input name="mobile" value="{$consignee.mobile}" style="width: 200px;" placeholder="电话号码、手机号必须填一项"></input></td>
		</tr>
		<tr>
			<td>电话号码</td>
			<td><input value="{$consignee.tel_prefix}" name="tel_prefix" placeholder="区号"/>-<input value="{$consignee.tel_main}" name="tel_main" placeholder="电话号码"/>-<input value="{$consignee.tel_suffix}" name="tel_suffix" placeholder="分机"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" value="1" {if $consignee.is_default eq '1'}checked{/if} name="is_default" />设置为默认收货地址</td>
		</tr>
		<tr>
			<td colspan="2"><input type="button"  class="button" value="确认修改" onclick="validate({$consignee.address_id})"> </td>
		</tr>
	</table>
	</form>

	<hr>
	<span style="color:red">已保存了 {$consignee_list_count} 条地址，最多保存 20条 地址</span>
	<style>
		.list_tbl td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:10px 0px;width: 200px; text-align: center}
		.list_tbl{border:solid #add9c0; border-width:1px 0px 0px 1px;}
	</style>
	<table  class='list_tbl' >
		<tr bgcolor="#dcdcdc">
			<th>收货人</th>
			<th>所在地区</th>
			<th>详细地址</th>
			<th>邮编</th>
			<th>电话/手机</th>
			<th>操作</th>
		</tr>
		{foreach from=$consignee_list item=consignee}
			<tr>
				<td>{$consignee.consignee}</td>
				<td>{$consignee.region}</td>
				<td>{$consignee.address}</td>
				<td>{$consignee.zipcode}</td>
				<td>{$consignee.telconcat}/{$consignee.mobile}</td>
				<td style="vertical-align: middle">
					<a href="parterAdmin.php?act=delivery_addr_edit&id={$consignee.address_id}">修改</a>
					|
					<a href="parterAdmin.php?act=delete_delivery_addr&id={$consignee.address_id}">删除</a>
					{if $consignee.is_default eq '1'}<span style="border:1px solid #ccc;padding:2px;background-color:pink;color:red;font-family:微软雅黑">默认地址</span>{/if}
				</td>

			</tr>
		{/foreach}
	</table>
	<script>
		function validate(addr_id){
			var f = document.forms['theForm'];
			f.action = 'parterAdmin.php?act=update_delivery_address&id='+addr_id;
			f.submit();
		}
	</script>
</div>