<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,selectzone.js,colorselector.js"} 
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<!-- start goods form -->

  <!-- tab body -->
  <div id="tabbody-div">
    <form enctype="multipart/form-data" action="supplier.php?" method="post" name="theForm" >
      <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
      <table id="general-table" align="center">
        <tr>
          <td class="label">供应商编号</td>
          <td><input type="text" disabled name="supplierID" value="{$obj.supplierID|escape}"/></td>
        </tr>
        <tr>
          <td class="label">供应商名称</td>
          <td><input type="text" name="supplierName" value="{$obj.supplierName|escape}"/></td>
        </tr>
        <tr>
          <td class="label">供应商登录名</td>
          <td><input type="text" name="supplierLoginName" value="{$obj.supplierLoginName|escape}"/></td>
        </tr>
        <tr>
          <td class="label">供应商登录密码</td>
          <td><input type="text" name="supplierLoginPassword" value="{$obj.supplierLoginPassword|escape}"/></td>
        </tr>
        <tr>
          <td class="label">供应商发货地</td>
          <td><div id="areaComponent" data="supplierShoppingAddress" gen-input="gen-input"></div></td>
        </tr>
        <tr>
          <td class="label">供应商详细地址</td>
          <td><input type="text" name="supplierDetailAddress" value="{$obj.supplierDetailAddress|escape}"/></td>
        </tr>
        <tr>
          <td class="label">生产商名称</td>
          <td>
            <input id="manufacturer" type="text"  value="{$obj.manufacturer|escape}"/>
            <input type="button" class="button" value="继续添加" onclick="addProductor();"/>
            <div id="productor_div">

            </div>
          </td>
        </tr>
        <tr>
          <td class="label">业务联系人名称</td>
          <td><input type="text" name="businessContactName" value="{$obj.businessContactName|escape}"/></td>
        </tr>
        <tr>
          <td class="label">业务联系人手机</td>
          <td><input type="text" name="businessContacPhone" value="{$obj.businessContacPhone|escape}"/></td>
        </tr>
        <tr>
          <td class="label">订单联系人名称</td>
          <td><input type="text" name="orderContactName" value="{$obj.orderContactName|escape}"/></td>
        </tr>
        <tr>
          <td class="label">订单联系人手机</td>
          <td><input type="text" name="orderContactPhone" value="{$obj.orderContactPhone|escape}"/></td>
        </tr>
        <tr>
          <td class="label">订单联系人座机</td>
          <td>
            <!--<input type="text" name="orderContactTel[]" value="{$obj.orderContactTel|escape}"/>-->
            <input type="text" id="tel_region" placeholder="区号" />-
            <input type="text" id="tel_main" placeholder="电话号" />-
            <input type="text" id="tel_part" placeholder="分机号" />
            <input id="orderContactTel" type="hidden" name="orderContactTel" value=""/>
          </td>
        </tr>
        <tr>
          <td class="label">订单联系人QQ</td>
          <td><input type="text" name="orderContactQQ" value="{$obj.orderContactQQ|escape}"/></td>
        </tr>
        <tr>
          <td class="label">订单联系人邮箱</td>
          <td><input type="text" name="orderContactEmail" value="{$obj.orderContactEmail|escape}"/></td>
        </tr>
        <tr>
          <td class="label">是否签订合作协议</td>
          <td>
            <input type="radio"  name="signAgreement" value="是" onchange="isHasAgreemennt(event);"/>是
            <input type="radio" checked name="signAgreement" value="否" onchange="isHasAgreemennt(event);"/>否
            <div id="agreement_div" style="display:none;">
              <span>请上传PDF/WORD格式的协议文档</span>
              <div style="border:solid 1px;margin-bottom: 10px;">
                <table width="100%" id="file-table"  align="center">
                  <!--<tr>-->
                  <!--<td> {foreach from=$img_list item=img key=i}-->
                  <!--<div id="gallery_{$img.img_id}" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;"> <a href="javascript:;" onclick="if (confirm('{$lang.drop_img_confirm}')) dropImg('{$img.img_id}')">[-]</a><br />-->
                  <!--<a href="goods.php?act=show_image&img_url={$img.img_url}" target="_blank"> <img src="../{if $img.thumb_url}{$img.thumb_url}{else}{$img.img_url}{/if}" {if $thumb_width neq 0}width="{$thumb_width}"{/if} {if $thumb_height neq 0}height="{$thumb_height}"{/if} border="0" /> </a><br />-->
                  <!--<input type="text" value="{$img.img_desc|escape}" size="15" name="old_img_desc[{$img.img_id}]" />-->
                  <!--</div>-->
                  <!--{/foreach} </td>-->
                  <!--</tr>-->

                  <tr>
                    <td><a href="javascript:;" onclick="addImg(this)">[+]</a> 合作协议描述
                      <input type="text" name="file_desc[]" size="20" />
                      上传合作协议
                      <input type="file" name="fiel_url[]" accept=".doc,.pdf,.docx"/>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr >
          <td class="label" >企业资质上传</td>
          <td>
            <div style="border:solid 1px;">
            <table width="100%" id="gallery-table"  align="center">
              <!--<tr>-->
                <!--<td> {foreach from=$img_list item=img key=i}-->
                  <!--<div id="gallery_{$img.img_id}" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;"> <a href="javascript:;" onclick="if (confirm('{$lang.drop_img_confirm}')) dropImg('{$img.img_id}')">[-]</a><br />-->
                    <!--<a href="goods.php?act=show_image&img_url={$img.img_url}" target="_blank"> <img src="../{if $img.thumb_url}{$img.thumb_url}{else}{$img.img_url}{/if}" {if $thumb_width neq 0}width="{$thumb_width}"{/if} {if $thumb_height neq 0}height="{$thumb_height}"{/if} border="0" /> </a><br />-->
                    <!--<input type="text" value="{$img.img_desc|escape}" size="15" name="old_img_desc[{$img.img_id}]" />-->
                  <!--</div>-->
                  <!--{/foreach} </td>-->
              <!--</tr>-->

              <tr>
                <td><a href="javascript:;" onclick="addImg(this)">[+]</a> 资质图片描述
                  <input type="text" name="img_desc[]" size="20" />
                  上传资质图片
                  <input type="file" name="img_url[]" accept=".jpg,.jpeg,.gif,.png,.bmp"/>
                </td>
              </tr>
            </table>
            </div>
          </td>
        </tr>

        <tr>
          <td class="label">备注</td>
          <td><textarea  name="remark" >{$obj.remark|escape}</textarea></td>
        </tr>
        <tr>
          <td colspan="2"><hr></td>
        </tr>
          <tr>
            <td class="label">运费设置</td>
            <td>
              <table align="center" border="1" cellspacing="4">
                <thead>
                  <th>首件(个)</th>
                  <th>运费(元)</th>
                  <th>续件(个)</th>
                  <th>续费(元)</th>
                </thead>
                <tbody>
                <tr>
                  <td><input name="firstPart" value="{$obj.firstPart|escape}"/></td>
                  <td><input name="freight" value="{$obj.freight|escape}"/></td>
                  <td><input name="add" value="{$obj.add|escape}"/></td>
                  <td><input name="addFee" value="{$obj.addFee|escape}"/></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr hidden>
            <td class="label">结款日</td>
            <td>每月 <input type="text" name="PaymentDate" value="{$obj.PaymentDate|escape}"/> 为结款日</td>
          </tr>
      </table>

      <div class="button-div">
        <input type="button" value="提交审核" class="button" onclick="validate()" />
        <input type="hidden" name="" value="" />
      </div>
      <input type="hidden" name="act" value="{$form_act}" />
    </form>
  </div>
<!--模板堂修改 start by zhouH-->
<style type="text/css">
#feedbox{ margin:0; padding:0 ;border:#80BDCB 2px solid;margin:2px 0 0 2px;background:#fff; height:auto;float:left;overflow:hidden;width:536px; cursor:pointer;position:absolute;top:0px;left:0px;filter:alpha(opacity=100);opacity:1; left:30%; top:8%; margin-right:-268px;}
#feedbox h2{text-align:center;}
#feedbox h2 span{font-size:12px; float:right;}
#feedbox ul{width:536px; padding:0; margin:0;}
#feedbox li{float:left; list-style:none;  padding:5px; position:relative;}
#feedbox li i{position:absolute; width:30px; height:30px; right:7px; bottom:10px; display:none;}
#feedbox li img{border:2px solid #dadada;}
#feedbox li i img{border:0px;}
#feedbox li.on i{display:block;}
</style>
<div id="feedbox" style="display:none;">
  <h2>选择属性图片<Span onClick="closeedBox('feedbox')">关闭</Span></h2>
  <div id="feedcontent"></div>
</div>
<!--模板堂修改 end by zhouH-->

<!-- end goods form --> 
{insert_scripts files="validator.js,tab.js,showbox.js"} 
<script language="JavaScript">
  var agreement_div = document.getElementById('agreement_div');
  function isHasAgreemennt(event){
    if(event.currentTarget.value == '否'){
      agreement_div.style.display= 'none';
    }else{
      agreement_div.style.display= 'block';
    }
  }
  function addProductor(){
      var input = document.createElement('input');
      input.name = 'manufacturer[]';
      var remove = document.createElement('input');
      remove.type ='button';
      remove.value = '移除';
      remove.onclick = function (){
        remove.previousSibling.remove();
        remove.nextSibling.remove();
        remove.remove();
      }
      var div = document.getElementById('productor_div');
      div.appendChild(input);
      div.appendChild(remove);
      div.appendChild(document.createElement('br'));
  }

  function showProductorDiv(flag){
    if(flag){
      document.getElementById('productor_div').style.display = 'inline';
    }else{
      document.getElementById('productor_div').style.display = 'none';
    }
  }

  function addImg(obj)
  {
    var src  = obj.parentNode.parentNode;
    var idx  = rowindex(src);
    var tbl  =  obj.parentNode.parentNode.parentNode;
//    var tbl  = document.getElementById('gallery-table');
    var row  = tbl.insertRow(idx + 1);
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addImg)(.*)(\[)(\+)/i, "$1removeImg$3$4-");
  }

  function removeImg(obj)
  {
    var row = rowindex(obj.parentNode.parentNode);
    var tbl = obj.parentNode.parentNode.parentNode;
//    var tbl = document.getElementById('gallery-table');
    tbl.deleteRow(row);
  }

  function validate(){
    var orderContactTel = document.getElementById('orderContactTel');
    orderContactTel.value =document.getElementById('tel_region').value +'-'+document.getElementById('tel_main').value +'-'+document.getElementById('tel_part').value ;

    var form = document.forms['theForm'];
    form.submit();
  }


</script>
<script src="js/area.js"></script>

{include file="pagefooter.htm"} 