<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 供应商搜索 -->
<script src="../admin/js/area.js"></script>
<div class="form-div">
  <form action="javascript:searchParters()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <span>查询：</span><input name="keyword" placeholder="供货商编号/名称/登录名/订单联系人/手机"/>
    <span>供货商发货地：</span><div style="display:inline" id="areaComponent"></div>
    <span>审核状态：</span>
    <select name="check_state">
      <option value="">请选择</option>
      <option value="审核">审核</option>
      <option value="未审核">未审核</option>
      <option value="未通过">未通过</option>
    </select>
    <span>是否签订合作协议：</span>
    <select name="signAgreement">
      <option value="">请选择</option>
      <option value="是">是</option>
      <option value="否">否</option>
    </select>
    <span>操作人：</span>
    <input name="operator_keyword" placeholder="操作编号/姓名"/>
    <span>审核人：</span>
    <input name="auditor_keyword" placeholder="审核人编号/姓名"/>
    <span>可用状态：</span>
    <select name="valid_state">
      <option value="0">请选择</option>
      <option value="可用">可用</option>
      <option value="停用">停用</option>
    </select>

    <input type="submit" value="搜索" class="button" />
  </form>
</div>

<script language="JavaScript">
  function searchParters()
  {
    listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    var addr = "";
    for(var i = 0 ; i < document.forms['searchForm'].elements['partnersAddress[]'].length; i++){
      var val = document.forms['searchForm'].elements['partnersAddress[]'][i].value;
      if(val ){
        addr += val+'#';
      }
    }
    if(addr != ""){
      addr = addr.substr(0, addr.length-1);
    }
    listTable.filter['partnersAddress'] =addr;
    listTable.filter['check_state'] = (document.forms['searchForm'].elements['check_state'].value);
    listTable.filter['signAgreement'] = (document.forms['searchForm'].elements['signAgreement'].value);
    listTable.filter['operator_keyword'] = Utils.trim(document.forms['searchForm'].elements['operator_keyword'].value);
    listTable.filter['auditor_keyword'] = Utils.trim(document.forms['searchForm'].elements['auditor_keyword'].value);
    listTable.filter['valid_state'] = (document.forms['searchForm'].elements['valid_state'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
</script>

<input type="button" value="选择显示项目"  class="button" onclick="showFieldList()" />

<style>
  ul
  {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  ul li
  {
  }

  #displayItemComponent{
    position:absolute;
    background-color: #f7f7f7;
    margin-left:8px;
    padding:0 20px 10px 20px;
    display:none;
  }

</style>
<div  id="displayItemComponent">
<ul >
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
  <li><input type="checkbox"/>字段 </li>
</ul>
  <hr width="100%">
  <input type="button" value="确定" onclick="initDisplayItem()"/>
  <input type="button" value="取消" onclick="hideFieldList()"/>
</div>
<script>
  var div =  document.getElementById('displayItemComponent');

  function showFieldList(){
    alert('未实现');
    return;
    div.style.display = 'block';
  }

  function hideFieldList(){
    div.style.display = 'none';
  }

  function initDisplayItem() {
    hideFieldList();
  }
</script>
{/if}

<!-- 供应商列表 -->
<form method="post" action="javascript:exportTable()" name="listForm" >
  <!-- start parter list -->
  <div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"  />序号
    </th>
    <th>供应商编号</th>
    <th>供应商名称</th>
    <th>供应商登陆名</th>
    <th>订单联系人名称</th>
    <th>订单联系人手机</th>
    <th>订单联系人座机</th>
    <th>订单联系人QQ</th>
    <th>是否签定合作协议</th>
    <th>修改时间</th>
    <th>操作人</th>
    <th>审核人</th>
    <th>审核时间</th>
    <th>审核状态</th>
    <th>可用状态</th>
    <th>操作</th>
  <tr>
  {foreach from=$list item=obj}
  <tr>
    <td><input type="checkbox" name="checkboxes[]"  value="{$obj.id}"/>{$obj.id}</td>
    <td><span>{$obj.supplierID}</span></td>
    <td><span>{$obj.supplierName}</span></td>
    <td><span>{$obj.supplierLoginName}</span></td>
    <td><span>{$obj.orderContactName}</span></td>
    <td><span>{$obj.orderContactPhone}</span></td>
    <td><span>{$obj.orderContactTel}</span></td>
    <td><span>{$obj.orderContactQQ}</span></td>
    <td><span>{$obj.signAgreement}</span></td>
    <td><span>{$obj.alterTime}</span></td>
    <td><span>{$obj.operator}</span></td>
    <td><span>{$obj.auditor}</span></td>
    <td><span>{$obj.auditTime}</span></td>
    <td><span>{$obj.check_state}</span></td>
    <td><span>{$obj.valid_state}</span></td>
    <td align="center">
      <a href="supplier.php?act=detail&id={$obj.id}">详细</a>
      <a href="javascript:validParter({$obj.id})" >启用/停用</a>
      <!--<a href="#parter.php?act=point_shop&id={$obj.id}">查看积分商城</a>-->
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!-- end parter list -->

<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

  <input type="submit" value="批量启用/停用" id="btnSubmit" name="btnSubmit" class="button"  />
  <input type="submit" value="批量审核" id="btnSubmit" name="btnSubmit" class="button"  />
  <input type="submit" value="选择导出" id="btnSubmit" name="btnSubmit" class="button"  />
</div>
</form>

<script type="text/javascript">
  function exportTable(){
    alert("功能暂未实现");
  }

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  function validParter(id){
    function callback(result){
      console.log(result)
      listTable.loadList();
    }
   Ajax.call('supplier.php?act=valid', "id="+id, callback, "POST", "JSON");
  }
</script>
{if $full_page}
{include file="pagefooter.htm"}
{/if}
